html,
body {
  margin: 0px;
  padding: 0px;
}

#viewport {
  overflow: hidden;
  position: relative;

  width: 100vw;
  height: 100vh;

  background-color: rgb(51, 51, 51);
}

#canvas {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
